rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow full read and write access for all collections and documents
    match /{document=**} {
      allow read, write: if true;
    }
  }
}

